/*
@import '@skeletonlabs/skeleton/themes/theme-skeleton.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import '@skeletonlabs/skeleton/dist/styles/partials/core.css';
@import '@skeletonlabs/skeleton/dist/styles/partials/typography-next.css';
@import '@skeletonlabs/skeleton/dist/styles/partials/elements.css';
@import '@skeletonlabs/skeleton/dist/styles/partials/variants.css';
*/

/*place global styles here */
html,
body {
	@apply h-full;
}

@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}
